@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,800;1,300;1,400;1,600;1,800&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* removing the default css from the broowser and adding some properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}

/* modifying the page scroll bar */
::-webkit-scrollbar {
    height: 0;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #e3f9ff;
    border-radius: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp2497566.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #fcfcf7;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 70px;
    height: 60px;
    border-radius: 10px;
    color: orangered;
    background: transparent;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-self: start;
    margin: 20px 0;
}

form .display input {
    text-align: left;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    color: black;
}

form input.equal{
    width: 150px;
    background-color: #4286429a;
}
form input.op1{
    background-color: #641d1d63;
}
form input.op{
    background-color: #4286429a;
}